.inicio{
    background-image: url("https://c0.wallpaperflare.com/path/778/430/355/donosti-pais-vasco-espana-mar-7120709ccced1a299c47e242efcaaa6a.jpg");
    background-position: center;
    background-size: cover;
    height: 521px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container{
    width: 615px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.text-container p{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.25px;
    font-family: var(--font-family);
    
}


@media screen and (max-width: 1050px){
    .text-container{
        margin: 1rem;
    }

}


@media screen and (max-width: 600px){
    .inicio{
        height: 100vh;
    }
    
    .text-container{
        margin: 0.5rem;
        width: 400px;
        height: 80px;
    }
    
    .text-container p{
        font-size: 16px;
        padding: 0.5rem;
    }

}