.tasaciones{
    width: 100%;
    height: 500px;
    background-image: url("https://images.pexels.com/photos/3305/numbers-money-calculating-calculation.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
} 

.input-direccion{
   width: 60%;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: flex-end;
   padding: 1.5rem;
}

.input-direccion input{
    font-family: var(--font-family);
    font-size: 1.2rem;
    padding: 1.5rem;
    width: 50rem;
    height: 5rem;
}

.input-direccion ::placeholder{
    color: #8d8b8b;
    font-family: var(--font-alt);
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
}

.input-direccion button{
    background: var(--color-blue);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.input-direccion button:hover{
    background: #33405e;
}

.input-direccion img{
    width: 50px;
    height: 50px;
}

.text-aside{
    width: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4));
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.text-aside h2{
    max-width: 450px;
    color: #FFF;
    font-family: var(--font-alt);
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
}

.text-aside p{
    max-width: 400px;
    color: #FFF;
    font-family: var(--font-alt);
    font-size: 20px;
    font-weight: 600;
}

.text-aside .input-direccion{
    display: none;
}


@media screen and (max-width: 1250px){
    .text-aside h2{
        font-size: 30px;
    }

    .text-aside p{
        font-size: 18px;
    }
}


@media screen and (max-width: 1050px){
    .tasaciones {
        margin: 2rem 0;
    }
    .input-direccion{
        width: 50%;
        padding: 1rem;
    }

    .input-direccion ::placeholder{
        font-size: 16px;
    }

    .text-aside{
        width: 50%;
        padding: 1.5rem;
    }

    .text-aside h2{
        font-size: 28px;
    }

    .text-aside p{
        font-size: 16px;
    }

}

@media screen and (max-width: 800px){
    .input-direccion{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0;
        margin: 1rem;
        width: 50%;
    }

    .input-direccion input{
        width: 90%;
        height: 4rem;
    }

    .input-direccion button{
        height: 4rem;
    }

    .input-direccion button img{
        padding: 0.2rem;
    }
}


@media screen and (max-width: 600px){
    .tasaciones {
        flex-direction: column;
        height: auto;
        margin: 0;
    }

    .input-direccion{
        display: none;
    }

    .text-aside{
        width: 100%;
        height: 85%;
    }
    
    .text-aside .input-direccion{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .text-aside .input-direccion input{
        height: 3rem;
    }
    .text-aside .input-direccion button{
        width: 5rem;
        height: 3.2rem;
    }

    .text-aside .input-direccion button img{
        padding: 0.5rem;
    }

}

@media screen and (max-width: 480px){
    .input-direccion {
        margin-left: 1.5rem;
    }
}
